# Dependencies
node_modules/

# Builds
.dist/
dist/
dist.zip
*.zip

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.DS_Store

# Vercel & Netlify
.vercel/
.netlify/

# Scripts & Temp
*.bat
*.ps1
test-*.ps1
check-*.bat

# FTP
.deployignore
.htaccess
