# Netlify Configuration
[build]
  command = "npm run build"
  publish = "dist"
  
[build.environment]
  NODE_VERSION = "20"

# Redirect root ke admin  
[[redirects]]
  from = "/"
  to = "/admin/"
  status = 301
  force = true
